<div class="row">
    <div class="col-pub">
        <div class="award-html">
            <span class="award-title"><strong>Best Paper Award</strong></span><br>
            <span class="award-desc">ICSA 2018, Seattle, WA, USA (2018)</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="award-html">
            <span class="award-title"><strong>'Thesis in Three' - Best Presentation Award</strong></span><br>
            <span class="award-desc">Doctoral Symposium, ICSE 2016, Austin, TX, USA (2016)</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="award-html">
            <span class="award-title"><strong>Awardee</strong></span><br>
            <span class="award-desc">ACM SigSoft CAPS Travel Support for attending ICSE 2015, Florence, Italy (2015)</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="award-html">
            <span class="award-title"><strong>Awardee</strong></span><br>
            <span class="award-desc">USC Doctoral Student Summer Institute Award, Los Angeles, CA, U.S. (2014)</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="award-html">
            <span class="award-title"><strong>Awardee</strong></span><br>
            <span class="award-desc">Vietnam Education Foundation Fellowship, U.S. (2013)</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="award-html">
            <span class="award-title"><strong>Best Poster Prize</strong></span><br>
            <span class="award-desc">3rd International Symposium on IT Convergence Engineering, Pohang, S.Korea (2011)</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="award-html">
            <span class="award-title"><strong>Awardee</strong></span><br>
            <span class="award-desc">Certificate of Merit for Excellent Graduation Achievement, Hanoi, Vietnam (2010)</span><br>
        </div>
    </div>
</div> 