<div class="row">
    <div class="col-pub">
        <div class="education-html">
            <span class="education-degree"><strong>PhD in Computer Science</strong>, <a href="http://softarch.usc.edu/" target="_blank">Software Architecture Research Group (SoftArch)</a></span><br>
            <span class="education-inst">University of Southern California (USC)</span><br>
            <span class="education-meta">Los Angeles, U.S. | Aug. 2013 - Dec. 2018</span><br>
            <span class="education-advisor">Advisor: <a href="https://viterbi.usc.edu/directory/faculty/Medvidovic/Nenad" target="_blank">Prof. Nenad Medvidović</a></span><br>
            <span class="education-gpa">GPA: 3.87/4.00</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="education-html">
            <span class="education-degree"><strong>MSc in Information Technology Convergence Engineering</strong>, Software Engineering Lab (SELab)</span><br>
            <span class="education-inst">Pohang University of Science and Technology (POSTECH)</span><br>
            <span class="education-meta">Pohang, S.Korea | Aug. 2010 - May. 2012</span><br>
            <span class="education-advisor">Advisor: <a href="https://scholar.google.com/citations?user=MEOtZokAAAAJ&hl=en" target="_blank">Prof. Kyo Chul Kang</a></span><br>
            <span class="education-gpa">GPA: 95.9/100.0</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="education-html">
            <span class="education-degree"><strong>BSc in Information Technology (Magna Cum Laude)</strong></span><br>
            <span class="education-inst">Hanoi University of Science and Technology (HUST)</span><br>
            <span class="education-meta">Hanoi, Vietnam | Aug. 2005 - May. 2010</span><br>
            <span class="education-advisor">Advisors: <a href="https://soict.hust.edu.vn/psg-ts-huynh-quyet-thang.html" target="_blank">Assoc. Prof. Huynh Quyet Thang</a> (HUST), <a href="http://se.inf.ethz.ch/people/nordio/" target="_blank">Dr. Martin Nordio</a> (<a href="http://se.inf.ethz.ch/" target="_blank">ETH Zurich</a>)</span><br>
            <span class="education-gpa">GPA: 8.07/10.00</span><br>
        </div>
    </div>
</div> 