<div class="row">
    <div class="col-pub">
        <div class="experience-html">
            <span class="experience-title"><strong>Senior Software Engineer</strong></span><br>
            <span class="experience-org"><a href="http://www.bloomberg.com/" target="_blank">Bloomberg L.P.</a></span><br>
            <span class="experience-meta">New York, U.S. & London, U.K. | July 2018 - PRESENT</span><br>
            <ul>
                <li>Tech Lead of Authentication Platform team at Bloomberg</li>
                <li>Manage Bloomberg Single Sign On system, which is used to authenticate both Bloomberg's workforce & customers</li>
                <li>Work closely with CTO office to secure and extend our systems for new use-cases in Bloomberg's ecosystem & customers' integrations</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="experience-html">
            <span class="experience-title"><strong>Research Intern - Computer Security Group</strong></span><br>
            <span class="experience-org"><a href="http://www.nec-labs.com/" target="_blank">NEC Laboratories America, Inc.</a></span><br>
            <span class="experience-meta">Princeton, New Jersey, U.S. | May 2017 - Aug. 2017</span><br>
            <ul>
                <li>Analyzed activity logs of PCs in the company's internal networks and extract patterns of safe activities.</li>
                <li>Built different prediction models for those patterns.</li>
                <li>Implemented the approach and integrated into Automated Security Intelligence (ASI) system of NEC.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="experience-html">
            <span class="experience-title"><strong>Software Engineering Intern - EV.Cloud Project, Platform Team</strong></span><br>
            <span class="experience-org"><a href="https://www.veritas.com/" target="_blank">Veritas Technologies LLC</a></span><br>
            <span class="experience-meta">Culver, California, U.S. | May 2016 - Aug. 2016</span><br>
            <ul>
                <li>Applied topic modeling and machine learning techniques to intelligently suggest retention policies for customers' emails.</li>
                <li>Implemented and verified the proposed approach on Enron dataset using Spark, Hadoop, Cassandra, and Spring Framework.</li>
                <li>Was selected to present at VERITAS Cutting Edge 2016.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="experience-html">
            <span class="experience-title"><strong>Research Intern - Advanced Printing Software Lab</strong></span><br>
            <span class="experience-org"><a href="http://www.sra.samsung.com" target="_blank">Samsung Research America</a></span><br>
            <span class="experience-meta">Irvine, California, U.S. | Jun. 2015 - Sep. 2015</span><br>
            <ul>
                <li>Completed the end-to-end scenario of extracting UP (Unified Interfaces of Samsung Printers) variability information from an actual MFP (Multi-Functions Printers), representing this in a UP variability model, editing this information, and using it to configure a running simulator instance.</li>
                <li>This involved design and implementation using different technologies: OSGi, EMF, Eclipse plug-ins, REST-ful webservices, UI development.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="experience-html">
            <span class="experience-title"><strong>Software Engineer</strong></span><br>
            <span class="experience-org"><a href="http://www.handysoft.co.kr" target="_blank">Dasan Handysoft</a></span><br>
            <span class="experience-meta">Seoul, S.Korea | Sep. 2012 - Jun. 2013</span><br>
            <ul>
                <li>Designed the server architecture of HandyUC 5.0, a platform providing various types of communication to enterprises, including email, instant messaging, and video conferencing.</li>
                <li>Implemented communication protocols of HandyUC, including XMPP protocol, Handysoft's legacy protocol, and a Http-based protocol.</li>
            </ul>
        </div>
    </div>
</div> 