<div class="funding-section">
  <h3>5. Recovering architectural design decisions</h3>
  <p>This work is supported by the National Science Foundation under grants no. CCF-1453474, CCF-1564162, CCF-1618231, and CCF-1717963; by the U.S. Office of Naval Research under grant no. N00014-17-1-2896; and by Huawei Technologies.</p>

  <h3>11. Architectural decay as predictor of issue and change-proneness</h3>
  <p>This work is supported by the U.S. National Science Foundation under grants 1717963, 1823354, and 1823262 and U.S. Office of Naval Research under grant N00014-17-1-2896.</p>

  <h3>12. Architectural archipelagos Technical debt in long-lived software research platforms</h3>
  <p>
    <a href="https://par.nsf.gov/biblio/10293488-architectural-archipelagos-technical-debt-long-lived-software-research-platforms" target="_blank">https://par.nsf.gov/biblio/10293488-architectural-archipelagos-technical-debt-long-lived-software-research-platforms</a><br>
    <a href="https://par.nsf.gov/search/award_ids:1823354" target="_blank">https://par.nsf.gov/search/award_ids:1823354</a>
  </p>
</div> 