<header>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="img-responsive" src="/images/lemduc.png" alt="Duc Minh Le, PhD - Profile Photo" height="30px"/>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-inline">
                                <li class="social-icon"><a class="btn btn-social-icon btn-email" href="mailto:duclm.bk@gmail.com"><i class="fa fa-envelope"></i></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-dblp" href="https://dblp.uni-trier.de/pers/hd/l/Le:Duc_Minh"><img src="/images/dblp.png" alt="DBLP"/></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-github" href="https://github.com/lemduc"><i class="fa fa-github"></i></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-linkedin" href="https://linkedin.com/in/lemduc"><i class="fa fa-linkedin"></i></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-scholar" href="https://scholar.google.com/citations?user=NckEwNMAAAAJ"><img src="/images/scholar-32.png" alt="Google Scholar"/></a></li>
                                <!-- <li class="social-icon"><a class="btn btn-social-icon btn-twitter" href="https://twitter.com/lemduc"><i class="fa fa-twitter"></i></a></li> -->
                                <li class="social-icon"><a class="btn btn-social-icon btn-rss" href="https://lemduc.substack.com/" title="Substack"><i class="fa fa-pencil-square-o"></i></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-cv" href="https://github.com/lemduc/CV_lemduc/releases" title="Download CV"><i class="fa fa-file-pdf-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Identity &amp; Security engineer based in Hanoi, Vietnam. Currently exploring new opportunities in the Vietnam technology market — details to be announced.
                            </p>
                            <p>
                                Previously, I spent nearly eight years at Bloomberg LP — most recently on the BQuant team building cloud-native infrastructure for quantitative analytics, and before that seven years on the System Security team as Tech Lead of the Authentication Platform. I specialized in SSO, identity management, and authentication protocols (SAML, OAuth2, OpenToken), integrating with enterprise systems like LDAP and Active Directory.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>&nbsp;</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">Identity &amp; Security Engineer</span>
                                    <span class="list-group-item-text">
                                        Hanoi, Vietnam — Details TBA
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">PhD in Computer Science</span>
                                    <span class="list-group-item-text">
                                        at
                                        <a href="https://www.usc.edu/">University of Southern California</a>,
                                        <a href="https://softarch.usc.edu/">Software Architecture Research Group</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
