<header>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="img-fluid" src="/images/lemduc.jpg" alt="Duc Minh Le" style="max-width: 294px;"/>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-inline">
                                <li class="list-inline-item social-icon"><a class="btn btn-social-icon btn-email" href="mailto:duclm.bk@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
                                <li class="list-inline-item social-icon"><a class="btn btn-social-icon btn-dblp" href="https://dblp.uni-trier.de/pers/hd/l/Le:Duc_Minh"><img src="/images/dblp.png" alt="DBLP" loading="lazy"/></a></li>
                                <li class="list-inline-item social-icon"><a class="btn btn-social-icon btn-github" href="https://github.com/lemduc"><i class="fa-brands fa-github"></i></a></li>
                                <li class="list-inline-item social-icon"><a class="btn btn-social-icon btn-linkedin" href="https://linkedin.com/in/lemduc"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li class="list-inline-item social-icon"><a class="btn btn-social-icon btn-scholar" href="http://scholar.google.com/citations?user=NckEwNMAAAAJ"><img src="/images/scholar-32.png" alt="Google Scholar" loading="lazy"/></a></li>
                                <li class="list-inline-item social-icon"><a class="btn btn-social-icon btn-twitter" href="https://twitter.com/lemduc"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li class="list-inline-item social-icon"><a class="btn btn-social-icon btn-rss" href="/feed.xml" title="RSS Feed"><i class="fa-solid fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Software Engineer at Bloomberg LP, currently part of the BQuant Central Services team, where I help build the core infrastructure that powers Bloomberg's quantitative analytics platform. My work focuses on cloud-native architectures, containerized environments, and scalable compute systems that enable seamless, high-performance data science workflows across the enterprise.
                            </p>
                            <p>
                                Previously, I spent seven years on Bloomberg's System Security team, developing scalable and secure architectures for enterprise applications. I specialized in single sign-on (SSO) systems and identity management, implementing authentication protocols such as SAML, OAuth2, and OpenToken, and integrating with enterprise tools like LDAP and Active Directory. Driven by the challenge of optimizing security infrastructure, I contributed to innovative authentication frameworks that balance usability, scalability, and rigorous protection standards across global systems.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>&nbsp;</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">Software Engineer</span>
                                    <span class="list-group-item-text">
                                        at
                                        <a href="https://www.bloomberg.com">Bloomberg LP</a>,
                                        <a href="https://www.bloomberg.com">BQuant Central Services</a>
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">PhD in Computer Science</span>
                                    <span class="list-group-item-text">
                                        at
                                        <a href="https://www.usc.edu/">University of Southern California</a>,
                                        <a href="https://softarch.usc.edu/">Software Architecture Research Group</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
