<ul class="latest-updates">
    <li><strong>Oct 2025:</strong> Became a Security Engineer on Bloomberg’s BQuant team, focusing on authentication, identity, and cloud-native security to support one of Bloomberg’s flagship quantitative research platforms.</li>
    <li><strong>Apr 2025:</strong> Welcome my second child, Alice, and start parental leave.</li>
    <li><strong>Oct 2024:</strong> Gave a internal talk at <a href="https://developer.bloomberg.com/events/developer-conference-2024/" target="_blank"></a>Bloomberg Developer Conference 2024</a>: <em>A talk about most up to date features within Authentication domain</em>.</li>
    <li><strong>May 2024:</strong> Gave a talk at <a href="https://identiverse.com/" target="_blank">Identiverse 2024</a>: <em>Lessons Learned on the Road to Educating Your IAM Clients</em>. <a href="https://www.youtube.com/watch?v=0LWC0AGyPwU&list=PLpKq7xRiIHaTnED9dAIusB4ffM_b8iyM4&index=61" target="_blank">Watch here</a></li>
    <!-- Add more updates as needed -->
</ul> 