<ul class="latest-updates">
    <li><strong>Apr 2025:</strong> Welcome my second child, Alice, and start parental leave.</li>
    <li><strong>May 2024:</strong> Gave a talk at <a href="https://identiverse.com/" target="_blank">Identiverse 2024</a>: <em>Lessons Learned on the Road to Educating Your IAM Clients</em>. <a href="https://www.youtube.com/watch?v=0LWC0AGyPwU&list=PLpKq7xRiIHaTnED9dAIusB4ffM_b8iyM4&index=61" target="_blank">Watch here</a></li>
    <li><strong>Mar 2021:</strong> Gave a talk at <a href="https://icsa-conferences.org/2021/attending/program/" target="_blank">ICSA 2021</a>: <em>Architectural Decay as Predictor of Issue- and Change-Proneness</em>. <a href="https://www.youtube.com/watch?v=q0ksLwibbZ0" target="_blank">Watch here</a></li>
    <!-- Add more updates as needed -->
</ul> 