<div class="row">
    <div class="col-pub">
        <div class="patent-html">
            <span class="patent-title"><strong>Method for creating a feature model from legacy system source code</strong></span><br>
            <span class="patent-inventors">Kyo Chul Kang, Hyesun Lee, <strong>Duc M. Le</strong></span><br>
            <span class="patent-meta">Korea, July 2013</span><br>
            <span class="patent-number">Patent number: KR101290847B1</span><br>
            <a href="https://patents.google.com/patent/KR101290847B1/ko" class="btn btn-link btn-sm" role="button">Patent Link</a>
        </div>
    </div>
</div> 