<div class="row">
    <div class="col-pub">
        <div class="presentation-html">
            <span class="presentation-authors"><strong>Duc M. Le</strong>, Karthik Rajamony</span><br>
            <span class="presentation-title">Intelligent Retention Advisor (via Machine Learning)</span><br>
            <span class="presentation-meta">U.S. | 2016</span><br>
            <ul>
                <li>VERITAS Cutting Edge Workshop 2016</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="presentation-html">
            <span class="presentation-authors"><strong>Duc M. Le</strong>, Yixue Zhao, Nenad Medvidovic</span><br>
            <span class="presentation-title">Architecture-based Speculative Analysis to Predict Bugs in Software Systems</span><br>
            <span class="presentation-meta">U.S. | 2016</span><br>
            <ul>
                <li>Poster Session, UCI Forum 2016</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="presentation-html">
            <span class="presentation-authors"><strong>Duc M. Le</strong>, Pooyan Behnamghader, Joshua Garcia, Daniel Link, Arman Shahbazian, Nenad Medvidovic</span><br>
            <span class="presentation-title">An Empirical Study of Architectural Change in Open-Source Software Systems</span><br>
            <span class="presentation-meta">U.S. | 2015</span><br>
            <ul>
                <li>Poster Session, UCI Forum 2015</li>
            </ul>
        </div>
    </div>
</div> 