{% for pub in site.data.publications %}
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">{{ pub.title }}</span><br>
            <span class="pub-author">{{ pub.authors }}</span><br>
            <span class="pub-venue">{{ pub.venue }}</span><br>
        </div>
        {% if pub.preprint_link %}
        <a href="{{ pub.preprint_link }}" class="btn btn-link btn-sm" role="button">Preprint</a>
        {% endif %}
        {% if pub.bibtex %}
        <div class="pub-bibtex hidden">
            <pre>{{ pub.bibtex }}</pre>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">More on Google Scholar Profile</span><br>
        </div>
        <a href="https://scholar.google.com/citations?user=NckEwNMAAAAJ&hl=en#" class="btn btn-link btn-sm"
            role="button">Go to Google Scholar</a>
    </div>
</div>