<div class="row">
    <div class="col-pub">
        <div class="research-html">
            <span class="research-group"><strong>Software Architectural Research Group, USC</strong></span><br>
            <span class="research-title">Architectural Change and Decay in Open-source Software Systems</span><br>
            <span class="research-meta">Los Angeles, CA, U.S. | Feb. 2014 - July 2018</span><br>
            <ul>
                <li>Reversed architectures of over 800 versions of 23 open-source systems, totaling over 120 MLOCs.</li>
                <li>Found evolution trends related to architectural changes in software systems, rate of architectural decay occurrences, correlations among implementation decisions and architectural changes.</li>
                <li>Used implicit problems (architectural- and code-smells) and explicit problems (reported issues and bugs) to provide an accurate, systematic, and in-depth approach to predict potential system problems, particularly bugs.</li>
                <li>Cooperated with Huawei USA in a study of how to adapt the company's codebase to architectural changes in new Android versions.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="research-html">
            <span class="research-group"><strong>Software Architectural Research Group, USC</strong></span><br>
            <span class="research-title">Privacy Preserving in Distributed Computation</span><br>
            <span class="research-meta">Los Angeles, CA, U.S. | May 2014 - Aug. 2014</span><br>
            <ul>
                <li>Studied sTile, a tile-based architecture, which tackles the problem of distributing computation onto cloud, while providing probabilistic guarantees that agents compromising parts of the cloud wouldn't be able to learn the private data and the nature of the computation.</li>
                <li>Deployed and evaluated a prototype of sTile on several main cloud services (Azure, EC2, Google Cloud).</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="research-html">
            <span class="research-group"><strong>Software Engineering Lab, POSTECH</strong></span><br>
            <span class="research-title">Impact Analysis of Software Requirement Change based on Feature Relationships</span><br>
            <span class="research-meta">Pohang, S.Korea | Sep. 2012 - Feb. 2013</span><br>
            <ul>
                <li>Reversed feature models based on variation points and variants embedded by C preprocessor.</li>
                <li>Verified consistency between designed models and reversed models and provided refactoring advice.</li>
                <li>Integrated into <a href="http://productlinetech.com" target="_blank">VULCAL Workbench</a>, a CASE tool that supports software product line engineering.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="research-html">
            <span class="research-group"><strong>ETH Zurich & HUST</strong></span><br>
            <span class="research-title"><a href="http://se.inf.ethz.ch/research/cloudstudio/" target="_blank">CloudStudio - Enabling distributed projects to produce software "on the cloud"</a></span><br>
            <span class="research-meta">Hanoi, Vietnam | Aug. 2009 - Jun. 2010</span><br>
            <ul>
                <li>Created the initial version of CloudStudio, an Integrated Development Environment (IDE) enabling globally distributed software projects and producing software "on the cloud".</li>
                <li>Developed the following features: project management, code editor, project compilation, group communication.</li>
            </ul>
        </div>
    </div>
</div> 