<div class="row">
    <div class="col-pub">
        <div class="service-html">
            <span class="service-role"><strong>Review Board Member</strong></span><br>
            <span class="service-org"><a href="https://www.computer.org/csdl/journal/ts" target="_blank">IEEE Transaction of Software Engineering Journal</a></span><br>
            <span class="service-meta">U.S., Oct. 2021 - PRESENT</span><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="service-html">
            <span class="service-role"><strong>IT administrator</strong></span><br>
            <span class="service-org"><a href="https://vjsonline.org" target="_blank">Vietnam Journal of Science</a></span><br>
            <span class="service-meta">Vietnam, Feb. 2016 - PRESENT</span><br>
        </div>
    </div>
</div> 