<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <i id="top"></i>
    {% include nav.html %}
    {% include header.html %}
    <div class="container">
        {{ content }}
    </div>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function toggleBibTeX(btn) {
            $(btn).closest(".col-pub").find('.pub-bibtex').toggleClass("hidden");
            $(btn).toggleClass("btn-default");
            $(btn).toggleClass("btn-primary");
            $('[data-spy="scroll"]').each(function () {
                var $spy = $(this).scrollspy('refresh')
            });
        }
        function stripeRows() {
            $.each($(".row"), function(index, element) {
                if ($(element).children(".col-pub").length > 0) {
                    if (index % 2 == 0) {
                        $(element).addClass("even");
                    } else {
                        $(element).addClass("odd");
                    }
                }
            });
        }
        function adjustCols() {
            $.each($(".row"), function(index, element) {
                $(element).find(".col-pub-header").addClass('col-xs-10').addClass('col-xs-offset-0');
                $(element).find(".col-pub").addClass('col-xs-10').addClass('col-xs-offset-0');
            });
        }
        function insertButtons() {
            $('.pub-html').after('<button type="button" class="btn btn-default btn-sm" onclick="toggleBibTeX(this); return false;">BibTeX</button>');
        }
        function setupPubs() {
            stripeRows();
            adjustCols();
            insertButtons();
        }
        $(document).ready(function() {
            setupPubs();
        });
    </script>
    <script data-goatcounter="https://lemduc.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
</body>
</html>

